<% if current_user.present? then %>
	<div class="home-page-login">
		<%= render 	partial: "job_list",
							locals: { jobs: @jobs, show_sorting_bar: true } %>
	</div>
<% else %>
	<div class="home-page">
		<%= render 	partial: "job_list",
							locals: { jobs: @jobs, show_sorting_bar: true } %>
	</div>
<% end %>