<!-- Profile display -->	
<div class="profile-display-page">
		<div class="profile-detail">
			<h2>User Profile</h2>
			<hr>
			<p><strong>Company Name: </strong><%= current_user.username %></p>
			<p><strong>Email: </strong><%= current_user.email %></p>
			<p><strong>Access Code: </strong><%= current_user.access_code %></p>
			<%= link_to "Edit", edit_user_path(current_user) , class: "btn btn-primary"%>
		</div>
	</div>
</div> 
