<div class="about-page">
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-author">
		<%= image_tag('author.jpg') %>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<h1>LIEU VU</h1>
		<p><strong>School: </strong>Metropolia University of Applied Sciences</p>
		<p><strong>Class: </strong>2014</p>
		<p><strong>Degree: </strong>Bachelor Degree</p>
		<p><strong>Degree Program: </strong>Information Technology</p>
		<p><strong>Specialization: </strong>Software Engineering</p>
	</div>
</div>
</div>