<div class="conatiner-fluid">
	<div class="row">
		<div class="col-sm-4 img-author">
			<img src="<%= 'assets/author.jpg' %>" >
		</div>
		<div class="col-sm-8">
			<h1>LIEU VU</h1>
			<p>Metropolia University of Applied Sciences Student</p>
			<p>Class: 2014</p>
			<p>Degree: Bachelor Degree</p>
			<p>Degree Program: Information Technology</p>
			<p>Specialization: Software Engineering</p>
		</div>
	</div>
	
</div>