
// ------
// Import
// ------

@import 'bootstrap';

// ---------
// Variables
// ---------
$page-margin: 30px;
$main-background-color: #e6eaea;

// -------
// Commons
// -------

%page-non-login-shared {
  margin-top: $page-margin;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

%page-login-shared {
  width: calc(100% - 250px);
  margin-top: $page-margin;
  margin-left: auto;
  padding: 0px 40px 40px 40px;
  min-height: 100vh;
}

// ---------
// Universal
// ---------

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

// -----------------
// Style for headers
// -----------------

.header-wrapper {
  height: 56px;
}

// -------------------
// Style for jobs list
// -------------------

.jobs-list {
  .jobs-list-title {
    padding-top: 1em;
    margin-left: 1em;

    a {
      font-size: 22px;
      font-weight: 900;
      color: #000000;
    }
  }

  .jobs-list-date-posted {
    float: right;
    margin-right: 1em;
  }

  .jobs-list-company-name {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
  }

  hr {
    margin: 0.5em 1em;
  }

  .jobs-list-tool {
    margin-left: 1em;
  }

  .job-item {
    background-color: $main-background-color;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }

}

// --------------------------
// Styles for home page login
// --------------------------

.home-page-login {
  @extend %page-login-shared;
}

// ------------------------------
// Styles for home page non-login
// ------------------------------

.home-page {
  @extend %page-non-login-shared;

  @include media-breakpoint-up(xs) {
    width: 85%;
  }

  @include media-breakpoint-up(md) {
    width: 80%;
  }

  @include media-breakpoint-up(lg) {
    width: 70%;
  }

  @include media-breakpoint-up(xl) {
    width: 60%;
  }
}

// -----------------------
// Styles for sign-up page
// -----------------------

.signup-page {
  @extend %page-non-login-shared;

  @include media-breakpoint-up(xs) {
    width: 85%;
  }

  @include media-breakpoint-up(md) {
    width: 55%;
  }

  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

// ---------------------
// Styles for login page
// ---------------------

.login-page {
  @extend %page-non-login-shared;

  @include media-breakpoint-up(xs) {
    width: 85%;
  }

  @include media-breakpoint-up(md) {
    width: 55%;
  }

  @include media-breakpoint-up(lg) {
    width: 50%;
  }

  .form-group p {
    display: inline-block;
    margin-right: 10px;
  }
}

// --------------------------------
// Styles for show access code page
// --------------------------------

.show-access-code-page{
  @extend %page-non-login-shared;

  @include media-breakpoint-up(xs) {
    width: 85%;
  }

  @include media-breakpoint-up(md) {
    width: 55%;
  }

  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

// ---------------------
// Styles for about page
// ---------------------

.about-page {
  width: 80%;
  margin-top: $page-margin;
  margin-left: auto;
  margin-right: auto;

  .img-author {
    padding-right: 30px;

    img {
      max-width: 100%;

      @include media-breakpoint-up(sm) {
        padding-bottom: 30px;
      }
    }
  }

  p {
    font-size: 1.2em;
  }
}

// --------------------------
// Styles for jobs login page
// --------------------------

.jobs-login-page {
  @extend %page-login-shared;
}

// ------------------------
// Styles for job show page
// ------------------------

.job-show-page {
  @extend %page-login-shared;

  .job-show-detail-item {
    padding: 1em 1.5em;
    margin-left: 1em;
    background-color: #e6eaea;

    @include media-breakpoint-up(lg) {
      min-width: 650px;
    }

    @include media-breakpoint-up(xl) {
      min-width: 750px;
    }
  }

  &.job-non-login {
    @extend %page-non-login-shared;

    .job-show-detail-item {
      margin: auto;

      @include media-breakpoint-up(lg) {
        max-width: 650px;
      }
    }

  }
}

// ----------------------------------------
// Style for job edit page and job new page
// ----------------------------------------

.job-new-page, .job-edit-page {
  @extend %page-login-shared;

  hr {
      height: 1px;
      background-color: #0d2130;
  }

  .job-form {
    margin-left: 1em;

    @include media-breakpoint-up(lg) {
      min-width: 650px;
    }

    @include media-breakpoint-up(xl) {
      min-width: 750px;
    }

    textarea {
      height: 150px;
    }
  }
}

// -------------------------
// Style for job sort button
// -------------------------

.jobs-list {
  margin-top: 15px;

  @include media-breakpoint-up(lg) {
    min-width: 650px;
  }

  @include media-breakpoint-up(xl) {
    min-width: 750px;
  }
}

// -----------------
// Style for sidebar
// ----------------

#sidebar {
  width: 250px;
  position: fixed;
  top: 56px;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #5ea7ab;
  color: #e8e6e6;
  transition: all 0.3s;

  &.active {
    margin-left: -250px;
  }

  ul {

    &.components {
      padding: 20px 0;
    }

    li {
      a {
        padding: 10px;
        font-size: 1.1em;
        display: block;

        &:hover {
          color: #210808;
          background: #fff;
        }
      }

      &.active {
        a a[aria-expanded=true] {
          color: #fff;
          background: #6d7fcc;
        }
      }
    }
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

// ------------------------------
// Style for profile display page
// ------------------------------

.profile-display-page  {
  @extend %page-login-shared;
}

// ---------------------------
// Style for profile edit page
// ---------------------------

.profile-edit-page  {
  @extend %page-login-shared;
}

// ------------------------
// Styles for error element
// ------------------------

.error {
  @extend %page-non-login-shared;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.3rem;
	color:  #ffffff;
  background-color: #902;

  p {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
