<!-- Sorting bar-->
<div class="dropdown text-right job-sort-btn">
	<button class="btn btn-primary dropdown-toggle" 		
					type="button" id="dropdownSortButton" data-toggle="dropdown" 
					aria-haspopup="true" aria-expanded="false">Sort by
  <span class="caret"></span></button>
	
	<div class="dropdown-menu dropdown-menu-right"
	 		 aria-labelledby="dropdownSortButton">
		<%= link_to "Sort by Job Title", root_path(sort_by: "title"),
					class: "dropdown-item"  %>
		<%= link_to "Sort by Company Name", root_path(sort_by: "company_name"), 
					class: "dropdown-item" %>
		<%= link_to "Sort by Date Posted", root_path(sort_by: "date_posted"),
					class: "dropdown-item" %>
	</div>
</div>
