<!-- Sidebar -->
  <nav id="sidebar">
      <ul class="list-unstyled components">
          <li>
              <%= link_to "Create A New Job", new_user_job_path(current_user) %>
          </li>
          <li>
            <%= link_to "My Posted Jobs", user_jobs_path(current_user) %>
          </li>
          <li>
            <%= link_to "All Jobs", root_path %>
          </li>
          <li>
            <%= link_to "My Profile", profile_path(current_user) %>
          </li>
      </ul>

  </nav>